:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
}

html {
	scroll-behavior: smooth;
	background-color: #fafafa;
}

@font-face {
	font-family: "Inter-fallback-1";
	size-adjust: 109.1%;
	ascent-override: 91%;
	src: local("Arial");
}

@font-face {
	font-family: "Inter-fallback-2";
	size-adjust: 109.1%;
	ascent-override: 91%;
	src: local("Helvetica");
}

body {
	@apply text-base;
	font-family: "Inter", "Inter-fallback-1", "Inter-fallback-2", sans-serif;
	height: 100%;
}
